<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Article Here!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
</head>
<body>
	<div class="head-container">
		<h1>New Article</h1>
	</div>
	<div class="article_edit_form_area">
    <form th:action="@{/admin/new/complete}" method="post">

        <ul class="input_list">
            <li>
                <input type="text" name="name" value="Article Title"/>
            </li>
            <li>
            	Publishing Date: (Automatically assigned)
            </li>
            <li>
                <textarea name="description">Content</textarea>
            </li>

            <li>
<!--                 <input type="hidden" name="id" th:value="${article.id}" />
 -->                <input type="submit" value="Publish" class="publish_button"/>
            </li>
        </ul>
    </form>
</div>

</body>
</html>